<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P06A.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0469FEA51FFE0C75002E25C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0469FEBD1FFE0C75002E25C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0469FEC81FFE0C75002E25C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
